.product-showcase {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.product-showcase-title {
  text-align: center;
}

.product-showcase-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}
